<!DOCTYPE html>
<html>
<head>
    <title>Display List</title>
</head>
<body>
    <h1>Display List</h1>
    <ul>
        {% for key, value in Code_Etape.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
        
    </ul>
    <ul>
        {% for key, value in List_Ens.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <a href="fichor.html">Back to fichor.html</a>
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
</body>
</html>