<!DOCTYPE html>
<html>
<head>
    <title>Display List</title>
</head>
<body>
    <h1>Display List</h1>
    
    <h2>Referenciel:</h2>
    <ul>
        {% for key, value in referenciel.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    
    <h2>Hor Enseignant:</h2>
    <ul>
        {% for key, value in hor_enseignant.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <a href="list_ens.html">Back to list_ens.html</a>
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}

</body>
</html>
