<!DOCTYPE html>
<html>
<head>
    <title>Display List</title>
</head>
<body>
    <h1>Display List</h1>
    
    <h2>Referenciel:</h2>
    <ul>
        {% for key, value in referenciel.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    
    <h2>Hor Enseignant:</h2>
    <ul>
        {% for key, value in hor_enseignant.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href = '/fich_ens';">Aller à /fich_ens</button>

</body>
</html>
