<!DOCTYPE html>
<html>
<head>
    <title>Insert List_ens Files</title>
</head>
<body>
    <h1>Insert List_ens Files</h1>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file1">Choisisser le fichier référenciel :</label>
        <input type="file" id="file1" name="file1" accept=".xlsx, .xls">
        <br><br>
        
        <label for="file2">Choisisser le fichier des horaires des Enseignants :</label>
        <input type="file" id="file2" name="file2" accept=".xlsx, .xls">
        <br><br>
        
        <input type="submit" value="Upload">
    </form>
</body>
</html>